NEXT_PUBLIC_BOT_HANDLES=sisterruthmartinez.bsky.social,thebrycepowell.bsky.social,revjerryjohnson.bsky.social,drraymondmoore.bsky.social,p42k32.bsky.social,kennysmithjr.bsky.social,mrsandreasimmons.bsky.social